.showMe {
    height: 50px;
    width: 72px;
    /*background-color: #e30505;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.showMe:hover{
    background-color: whitesmoke;
}

.showMe:hover .userInfo{
    display: block;
    background-color: whitesmoke;
}

.showMe>div {
    color: whitesmoke;
    /*height: 50px;*/
    font-size: 20px;
    border-radius: 2px;
    /*border: 2px solid whitesmoke;*/
    background-color: #ba1a1a;
    padding: 5px 11px;
}

.userInfo {
    position: absolute;
    width: 150px;
    height: 200px;
    /*background-color: whitesmoke;*/
    top: 50px;
    left: 0;
    display: none;
}

.userName {
    width: 100%;
    text-align: center;
    color: black;
    padding: 10px 0;
    font-family: sans-serif;
    font-weight: 700;
}

.buttonBlock>button {
    font-weight: 100;
    font-family: "Arial Narrow";
    font-size: 20px;
    padding: 2px 15px;
    margin-top: 30px;
}