.moviesListItem{

}

.moviesListItem img {
    width: 160px;
    height: 205px;
}

.title{
    width: 200px;
    min-height: 50px;
}

.upperImage {
    height: 205px;
    width: 160px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upperImage:hover{
    background-color: black;
    /*opacity: 0.6;*/
    transition: 1000ms;
}

.playIcon {
    color: whitesmoke;


}