.moviesListItem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.moviesListItem img {
    width: 175px;
    height: 240px;
}

.title{
    width: 175px;
    height: 36px;
    box-sizing: border-box;
    padding-top: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 21px;
    /*font-family:Castellar;*/
    font-family:"Baskerville Old Face";
    color: black;
    font-weight: 700;
}

.imageContainer{
    width: 175px;
    height: 240px;
    position: relative;
    overflow: hidden;
}

.imageContainer::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;

}

.imageContainer:hover::after {
    opacity: 0.3;
    cursor: pointer;
}
