.moviesListItem{
display: flex;
    justify-content: center;align-items: center;
}

.moviesListItem img {
    width: 160px;
    height: 205px;
}

.title{
    width: 160px;
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 17px;
}

.imageContainer{
    width: 160px;
    height: 205px;
    position: relative;
    overflow: hidden;
}

.imageContainer::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;

}

.imageContainer:hover::after {
    opacity: 0.3;

}
