/*#light .header{*/
/*    background-color: #5c5c5c;*/
/*    opacity: 0.98;*/
/*}*/
#light .header{
    background-color: #1c429c;
    opacity: 0.98;
}

#dark .header{
    background-color: #000000;
    opacity: 0.98;
}

#dark .moviesPage{
    /*background-color: #0f0e0e;*/
    background-image: url("https://i.pinimg.com/originals/79/2b/95/792b959db0273b65bd7c70662e530214.jpg");

}

#dark .moviesListContainer, #dark .paginationContainer, #dark .infoWrap, #dark .recommendationsContainer {
    background-color: #0f0f0f;
    box-shadow: 1px 1px 25px #000000;
}

#dark .title{
    color: #ffffff;
}

#dark .infoText{
    color: rgba(177, 180, 177, 1);
}

#dark .MuiButtonBase-root{
    background-color: #060211;
    color: #ffffff;
}

#dark .css-s1jfdj-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: #08103d;
}

#dark .badge{
    color: #909690;
}

#dark .badge:hover{
    box-shadow: 2px 2px 5px black;
    color: #a45a0b;
}

#dark .recommendedItemTitle{
    color: #909690;
}

#light .main{
    background-color: #f0eeee;
    height: 100vh;
}

#dark .main{
    height: 100vh;
    background-color: #1f1f1f;
}

#dark .listContainer{
    background-color: #02081c;
    box-shadow: 1px 1px 15px #000000;

}

#dark .listContainer>div{
    color: #28a7f3;
}

#dark .listContainer>div:hover{
    color: #e8e8e8;
    font-weight: 1000;
}

#dark .moviesCategories, #dark .authlist, #dark .result_container, #dark .userInfo{
    background-color: #030a1f;
    box-shadow: 1px 1px 15px #000000;
}

#dark a, #dark .byKeywordInfoBlock {
    color: #28a7f3;
}

#dark .byKeywordItem:hover{
    background-color: #a41212;
}

#dark .userName{
    color: #bababa;
}

#dark a:hover{
    color: white;
}