.mainPerformanceWrap {
    /*background-color: #0e0e1b;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
}

.infoWrap {
    display: flex;
    font-size: 18px;
    row-gap: 10px;
    color: #b6b1b1;
    background-color: #1b1818;
    padding:50px 50px;
    width: 1150px;
}

.infoWrap>div>img{
    height: 340px;
    width: 570px;
}

.infoText{
    padding: 0 20px
}

.infoText>h2{
    font-size: 34px;
}

.infoText>p {
    padding: 20px 0;
    font-size: 22px;
    max-width: 600px;
}

.infoText>div {
    padding: 5px 0;

}

.infoText>div>span {
    font-size: 20px;
    font-weight: 600;
}

.badgesListWrap {
    display: flex;
    max-width: 630px;
    flex-wrap: wrap;
}

.genresRelated {
    width: 570px;
    padding: 10px 0;
    font-size: 20px;
}

.trailerBlock{
    margin-top: 30px;
}