.authContainer{
    height: 50px;
    width: 120px;
    position: relative;
}

.authContainer:hover .authLabel{
    background-color: whitesmoke;
    color: black;
}

.authContainer:hover .authlist {
    display: block;
}

.authLabel {
    height: 50px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    font-family: "Microsoft Sans Serif";
    /*font-weight: 550;*/
}

.authlist {
    width: 120px;
    background-color: whitesmoke;
    left: 0;
    position: absolute;
    top: 50px;
    display: none;
    box-shadow: 1px 1px 15px #abaaaa;
}

.auth__link {
    width: 100%;
    display: block;
    /*background-color: #909690;*/
    /*text-align: center;*/
    padding: 15px 0;
    padding-left: 20px;
    font-family: "Microsoft JhengHei";
    font-size: 10px;
    /*box-shadow: 0.1px 0.1px 0.8px black;*/
}