.authContainer{
    height: 50px;
    background-color: white;
    width: 120px;
}

.authLabel {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}