.categoriesContainer{
    position: relative;
    /*color: whitesmoke;*/
}

.categoriesContainer:hover {
    background-color: whitesmoke;
}

.categoriesContainer:hover .moviesLabel{
    background-color: whitesmoke;
    color: black;
}

.categoriesContainer:hover .moviesCategories{
    display: block;
}

.moviesLabel {
    height: 50px;
    width: 120px;
    color: whitesmoke;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    font-family: "Microsoft Sans Serif";
    font-weight: 550;
}

.moviesCategories>a {
    display: block;
    padding: 15px 20px;
    width: 170px;
}

.moviesCategories {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: whitesmoke;
    display: none;
}