.recommendationsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1150px;
    /*margin-top: 90px;*/
    background-color: whitesmoke;
    padding: 30px 50px;
    box-shadow: 1px 1px 25px #abaaaa;

}

.seeTheRecommendations {
    font-size: 24px;
    padding-bottom: 30px;
    width: 100%;
    color: #000000;
    font-family: Corbel;
}