.recommendationsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1150px;
    margin-top: 90px;
    background-color: #444e40;
    padding: 30px 50px;


}

.seeTheRecommendations {
    font-size: 22px;
    padding-bottom: 30px;
    width: 100%;
    color: whitesmoke;
    font-family: Corbel;
}