.moviesListContainer {
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    row-gap: 10px;
    column-gap: 27px;
    justify-content: center;
    align-items: center;
    background-color: #0e0e1b;
    padding: 70px 0px;
}

.wrap{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    /*background-color: #282828;*/
    /*margin: 0 0px;*/
}