.moviesListContainer {
    display: flex;
    flex-wrap: wrap;
    width: 780px;
    row-gap: 10px;
    column-gap: 17px;
    justify-content: center;
    align-items: center;
}

.wrap{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}