.moviesListContainer {
    display: flex;
    flex-wrap: wrap;
    width: 950px;
    row-gap: 32px;
    column-gap: 34px;
    justify-content: center;
    align-items: center;
    /*background-color: papayawhip;*/
    padding: 70px 0px;
    box-shadow: 1px 1px 5px #07071c;
}

.wrap{
    display: flex;
    justify-content: center;
    padding-top: 150px;
    /*background-color: #282828;*/
    /*margin: 0 0px;*/
}

.paginationWrap{
    width: 100%;
    display: flex;
    justify-content: center;
    /*margin-bottom: 30px;*/
}

.paginationContainer{
    display: flex;
    justify-content: center;
    background-color: #ebe8e7;
    width: 950px;
    box-shadow: 1px 1px 5px #07071c;
}


