.moviesPage {
    background-color: #dbd9d9;
    /*background-position: 101% 70%;*/
    /*background-size: 120%;*/
    min-height: 2000px;
    padding-bottom: 50px;
}

/*background-image: url("https://i.pinimg.com/originals/79/2b/95/792b959db0273b65bd7c70662e530214.jpg");*/

/*https://i.pinimg.com/originals/79/2b/95/792b959db0273b65bd7c70662e530214.jpg*/

/*https://img.freepik.com/premium-photo/abstract-cinema-concert-saloon-chairs-view-loop-going-so-useful-as-background_251006-5142.jpg?w=1200*/