
.sortDivWrap {
    display: flex;
    justify-content: center;
}

.sortDiv {
    margin-top: 100px;
    background-color: #909690;
    height: 200px;
    width: 60%;
}

.sortForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
}

.sortForm>button,input,select {
    font-size: 22px;
}