.header {
    height: 50px;
    background-color: #090909;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.header a {
    text-decoration: none;
    font-size: 20px;
    color: whitesmoke;
    font-family: Arial;
}

.header a.active{
    color: #e30505;
}