* {
    box-sizing: border-box;
    margin: 0;
}

.headerWrap {
    display: flex;
    justify-content: center;
}

.header {
    height: 50px;
    background-color: #0f0e0e;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    position: fixed;
    z-index: 6;
    opacity: 0.97;
    /*border: 2px solid #48488d;*/
    box-shadow: 1px 1px 10px slategrey;
}

#light {
    background-color: rgb(97, 95, 95);
}

#dark{
    background-color: #0f0e0e;
}

.header a {
    text-decoration: none;
    font-size: 19px;
    color: black;
    font-family: "Microsoft JhengHei";
    font-weight: 560;
    box-shadow: 0.1px 0.1px 0.8px black;
}

.header a.active{
    /*color: #e30505;*/
}

.buttonBlock{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.authBlock{
    height: 30px;
    display: flex;
    flex-direction: column;
    /*background-color: #2f2d2d;*/
    overflow: hidden;
    transition: 0.3s;
}

.authBlock:hover{
    /*overflow: initial;*/
    height: 90px;
}



.authBlock1 {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    font-family: Serif;
    background-color: whitesmoke;
}

.option:hover{
    background-color: #909690;
    color: whitesmoke;
}

.find {
    height: 30px;
    background-color: silver;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}