
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;

}

.formWrap {
    min-height: 400px;
    width: 400px;
    background-color: #3150b4;
    border-radius: 5px;
}

.formWrap form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formWrap input {
    margin: 10px;
    height: 32px;
    width: 60%;
    border-radius: 5px;
    font-size: 18px;
    border: 0;
    outline: 0;

}

.formWrap button {
    width: 60%;
    height: 30px;
    margin: 10px;
    border-radius: 20px;
    background-color: #184785;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 700;
}

.messageBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #eee1e1;
    /*font-weight: 600;*/
    font-size: 22px;
    font-family: "Times New Roman";
    padding: 0 20px;
}

.messageBlock span{
    display: block;
    margin: 10px;
}