.swiper-slide{
    width: 1100px;
}

.swiper-button-next{
    color: #26c402;
    font-weight: 550;
}
.swiper-button-prev{
    color: #26c402;
    font-weight: 550;
}
.xxx {
    padding: 40px 0;
}

.recommendedItemTitle {
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 4px;
    color: #000000;
    font-family: Bahnschrift;
}

.recommendedItemWrap{
    /*border: 2px solid rebeccapurple;*/
    margin-bottom: 40px;
}

.recommendedItemWrap:hover {
    /*border: 2px solid whitesmoke;*/
    /*background-color: #0a5c0a;*/
    cursor: pointer;
    box-shadow: 2px 2px 5px #9e9c9c;
}

.recommendedItemWrap:hover .recommendedItemTitle{
    color: #13af1b;
    font-weight: 550;
}